h1 {
  text-align: center;
  color: black;
  width: 100%;
  padding: 5px;
}
img {
  width: 100vw;
  object-fit: cover;
}

.carousel-item {
  width: 100%;
}

.under-construction {
  margin: 20px auto;
  width: 100%;
  background-color: grey;
  opacity: 70%;
}
