h1 {
  color: black;
  width: 100%;
}
img {
  width: 100vw;
  object-fit: cover;
}

.carousel slide {
}
.carousel-item {
  width: 100%;
  /* height: 500px; */
}

.carousel-caption div {
  background-color: white;
  opacity: 70%;
}
